<%- include('../includes/header.ejs') %>
<script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <main class="container">
        <form action="/admin/reset-password-admin" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" value="<%= admin_data.email %>" maxlength="10" readonly="readonly" required>
                <div id="error-msg-email" style="display: none; color:red"></div>
            </div>
            <button type="submit" id="submitBtn" class="btn btn-primary">Update Password</button>
            <div id="message" style="display: none; color:#3a55b4">An email with instructions to reset your password has been sent to your email address.</div>
        </form>
    </main>
<script>
    const button = document.getElementById('submitBtn');
    const message = document.getElementById('message');

    // Add click event listener to the button
    button.addEventListener('click', () => {
        // Display the message after 3 seconds
        setTimeout(() => {
            button.style.display = 'none';
            message.style.display = 'block';
        }, 3000); // 2000 milliseconds = 3 seconds
    });
</script>

<%- include('../includes/footer.ejs') %>


<!-- SendGrid Password: JayShreeRam@123s -->
<!-- SendGrid Recovery code: JCJWNLF5Z1UEVWTEMVLJQZ1Q-->