
    * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f9fb;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: inherit;
}

/* Container */
.page-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0px 0px 0px;
}

@media (max-width: 768px) {
  .page-container {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Section Card */

.section-card {
  width: 100%;
  background-color: #ffffff;
  /* border: 2px solid #f3f3f3; */
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* ---- card-text-note ---- */
.card-text-note {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  background-color: #edf0f8;
  padding: 24px 32px;
  column-gap: 20px;
  border-radius: 14px 14px 0px 0px;
}

.text-note {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #162136;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  color: #5f5d6b;
}

/* ---- /card-text-note ---- */

.card-inner-body {
  padding: 10px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Chip Wrap */
.chip-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 25px;
}

.chip {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  column-gap: 10px;
  background-color: #f5f5f5;
  color: #262626;
  padding: 14px 24px;
  border-radius: 8px;
}

.chip:nth-child(1) {
  background-color: #e9fdfd;
}

.chip:nth-child(2) {
  background-color: #f2ffe6;
}

.chip p {
  font-size: 14px;
}

.chip h2 {
  font-size: 18px;
  font-weight: 500;
}

.job-desc {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.job-desc .label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #05060f99;
}

.job-desc .jd {
  font-size: 15px;
}

.job-desc .jd:last-child {
  margin-top: 16px;
}

.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.input-group {
  width: 100%;
  flex-direction: column;
}

.input,
textarea {
  font-family: inherit;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 14px;
  border: 2px solid transparent;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 42px;
  background-color: #304674;
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 20px;
  color: #ffffff;
}

.custom-file-upload {
  height: 48px;
  width: inherit;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custom-file-upload span {
  font-weight: 400;
  color: #4b5563;
}

.custom-input-1 {
  display: none;
}

.custom-input-2::file-selector-button {
  border: none;
  background-color: #ececec;
  font-weight: 400;
  color: #4b5563;
  font-family: inherit;
  padding: 12px;
  border-radius: 8px;
}
