<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forget_password.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <% if(errorMessage){ %>
        <div style="color: red;"><%= errorMessage %></div>
    <% } %>
    <main class="container">
        <form action="/user/reset-password-user" method="POST">
            <div class="container-card">
                <i class="bi bi-lock-fill"></i>
                <h2>Forgot Password?</h2>
                <p>You can reset your password here.</p>
         
                <div class="email-input">
                    <div class="email-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
         
                <button class="reset-button">Reset Password</button>
            </div>
        </form>
    </main>

<%- include('../includes/footer.ejs') %>


<!-- SendGrid Password: JayShreeRam@123s -->
<!-- SendGrid Recovery code: JCJWNLF5Z1UEVWTEMVLJQZ1Q-->